Repository drewxs/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --no-ignore --max-warnings=0 --fix, prettier --write

chore(release): 1.11.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  53da886296b2cb28b70af176883f0afff22abbc8
Due: none

build(deps): update dependencies (automated)
  package-lock.json
Due: prettier --write

chore: rm workflows & semantic release
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/update-deps.yml
  .releaserc.json
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

build(deps): update
  next-env.d.ts
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --no-ignore --max-warnings=0 --fix, prettier --write

fix(theme-changer): accessible
  src/components/theme-changer.tsx
Due: prettier --config .prettierrc --write, eslint --no-ignore --max-warnings=0 --fix, prettier --write

chore: rm .editorconfig, .prettierignore
  .editorconfig
  .prettierignore
Due: none

fix(styles): reduce light mode brightness
  src/styles/abstract/_variables.scss
Due: none

build(deps): update
  .eslintrc.json
  eslint.config.ts
  next-env.d.ts
  next-sitemap.config.js
  next.config.js
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --no-ignore --max-warnings=0 --fix, prettier --write

feat: revamp
  .env.local.example
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  env.d.ts
  eslint.config.js
  eslint.config.ts
  next-env.d.ts
  package-lock.json
  package.json
  src/app/api/contact/route.ts
  src/app/layout.tsx
  src/components/code.tsx
  src/components/contact.tsx
  src/components/experience.tsx
  src/components/hero.tsx
  src/components/input.tsx
  src/components/navbar.tsx
  src/components/projects.tsx
  src/components/typewriter.tsx
  src/data/contact.ts
  src/data/experience.ts
  src/data/hero.ts
  src/data/index.ts
  src/data/projects.ts
  src/styles/abstract/_variables.scss
  src/styles/pages/_home.scss
  tsconfig.json
Due: prettier --config .prettierrc --write, eslint --no-ignore --max-warnings=0 --fix, prettier --write

Path conditions:
  prettier --config .prettierrc --write: any of: *.{ts,tsx,js,jsx}
  eslint --no-ignore --max-warnings=0 --fix: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{ts,tsx})
  prettier --write: any of: *.{json,md,ts,tsx}
